* {
    border: none;
    border-radius: 0px;
    font-family: "Hack Nerd Font";
    font-size: 14px;
    min-height: 0;
    color: #ebdbb2;
}

window#waybar {
    border-bottom-style: inset;
    border-bottom: 4px solid #98971a;
    background: #1d2021;
}

#workspaces, #clock, #custom-music, #window { 
    font-weight: 800;
}

/* Workspace Buttons */
#workspaces button label{
    color: #98971a;
}
#workspaces button.focused label {
    color: #1d2021;
}
#workspaces button.focused {
    background: #98971a;
}

#mode {
    background-color: #cc241d;
    color: #fbf1c7;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor {
    padding: 0 5px;
    margin: 0 10px;
}


#idle_inhibitor {
    padding: 0 10px;
}

#idle_inhibitor.activated {
    background-color: #98971a;
    color: #1d2021;
}


#custom-music {
    color: #b8bb26;
    margin: 0 15px;
    padding: 0 20px;
    border-bottom: 4px solid #b8bb26;
}

#clock {
    margin: 0;
    color: #fabd2f;
    border-bottom: 4px solid #fabd2f;
}


#network.disconnected {
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}


#pulseaudio.muted {
    padding: 0 20px;
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}
